html body {
    background-color:white;
    margin:0;
    padding:0px;
    font-size:14px;
}

#dash {
    width:100%;
    background-color:black;
    height:auto;
    color:white;
    font-size:25px;
    text-align: center;
    font-weight:bold;
    padding:15px;
    text-transform:uppercase;
    margin:0 auto;
    
}

#main {
    width: 90%;
    margin:0 auto;
    background-color:#7F8C8D;
    /* margin-top:20px; */
    margin-bottom:100px;
    /* margin-top:0px;  */
}

.row {
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    /* background-color: lightgreen; */
    margin-top:0px;
    height:100%;
    padding:10px;
    }
 .col-md-8 {
    background-color: lightgray;
    margin:20px 0px;
}

.col-md-4 {
    background-color: rgb(194, 186, 186);
    margin:20px 0px;
}




#search {
    padding:10px 5px;
    margin:10px;
    width:100%;
    height:auto;
    border:1px solid whitesmoke;
    /* background-color:rgb(136, 73, 73); */
   
}

#searchInput {
    height:30px;
    /* padding:8px; */
    float:left;
    border:none;
    background-color:white;
    text-transform: capitalize;
}

#inputImage {
    width:30px;
    height:30px;
    border:none;
    margin-left:0px;
}

/* #searchInput:hover, #inputImage:hover {
    border:none;
    transition:1s;
} */

.weatherIcon {
    width:100px;
    height:100px;
    border:none;
}

.day12, .day22, .day32, .day42, .day52 {
    width:50px;
    height:50px;
    border:none;
}

.day11, .day21, .day31, .day41, .day51 {
    text-align:center;
    font-weight:bolder;
    padding-top:5px;
}
    

.city1, .city2, .city3, .city4, .city5, .city6 {
    padding:10px 5px;
    margin:10px;
    width:100%;
    border:1px solid whitesmoke;
    text-transform: capitalize;
    
}

#subHeader1 {
    display:flex;
    margin:20px 10px;
    /* background-color: lightgray; */
}

#subHeader2 {
    margin:5px;
    font-weight:bold;
    font-size:18px;
    padding:5px;
}

.currentCity, .todayDate  {
    font-weight:bold;
    font-size:16px;
    margin-right:15px;
    padding:5px;
    text-transform:uppercase;

}

.description {
    font-weight:lighter;
    font-size:20px;
   text-transform: capitalize;
    padding:5px;
}

.des1, .des2, .des3, .des4, .des5 {
    font-weight:lighter;
    font-size:12px;
    text-transform: capitalize;
    padding:5px;
    text-align: center;
}

.Icon {
    display:flex;
    margin:0 auto;
    justify-content: space-between;
}

.col-md-5 {
    align-content: center;
    vertical-align: middle;
  margin:20px 60px 10px 10px;  
  /* background-color:red; */
  padding:20px;
  float:left;
  
}
#weatherCurrent {
    
    margin:20px 10px;
    /* background-color: lightgray; */
}

.core1, .core2, .core3, .core4 {
    margin-right:15px;
    padding:5px;
    /* background-color:linen; */
}

.row1 {
    margin:10px 0px;
    border:1px solid white;
    /* background-color:whitesmoke; */
    display:flex;
    justify-content: space-between;
    
}

.col-md-12 {
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    /* background-color:lightsteelblue; */
   height:auto;

}

.fore1, .fore2, .fore3, .fore4, .fore5 {
    background-color:#B2BABB;
    color:black;
    border-radius:8%;
    margin-bottom:5px;
    height:138px;
    padding:5px;
}

.row2 {
    width:100%;
    height:195px;
    background-color:lightgray;
    border:1px solid white;
    margin-bottom:20px;
}

.footer {
   font-size:15px;
   text-align:center;
    margin-top:30px;
    padding:10px;
    width:100%;
    height:40px;
    background-color: lightyellow;
    /* position:fixed; */
 
}